body {
    font-family: Arial, sans-serif;
    background: #262626;
    color: #c6c8ca;
}

h1, h2, h3, h4 {
    font-family: 'Amatic SC', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.app-container > .header {
    border-bottom: 1px solid #515151;
    text-align: center;
    height: 50px;
}

.app-container > .header > .logo {
    background-image: url('http://bekk.no/Content/Images/sprite.png');
    background-position: 0 -274px;
    width: 73px;
    height: 17px;
    margin: 16px auto 0 auto;
    display: block;
}

.app-container > .content-container {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}

.content-container > .message-container {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.users {
    border-left: 1px solid #515151;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.users > .user {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 30px;
}

.users > .user.-current {
    background: #515151;
}

.users > .user > .status {
    flex: 1;
    height: 30px;
    width: 30px;
    max-width: 30px;
    margin-right: 10px;
}

.users > .user > .status.-inactive {
    background: #df565b;
}

.users > .user > .status.-active {
    background: #36bdb2;
}

.users > .user > .name {
    flex: 3;
    padding-top: 6px;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.message-container > .messages {
    flex: 3;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 30px 30px 0 30px;
}

.messages > .message {
    margin-bottom: 30px;
}

.messages > .message.-current {
    direction: rtl;
}

.messages > .message > .content {
    direction: ltr;
    color: #f1f1f1;
    background-color: #515151;
    max-width: 800px;
    min-width: 400px;
    text-align: left;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.messages > .message > .content > .text {
    font-family: Georgia, serif;
    margin: 20px 0 20px 0;
}

.messages > .message > .content > .author {
    font-size: 0.8em;
    border-top: 2px solid #df565b;
    padding-top: 10px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.messages > .message > .content > .time {
    font-size: 0.8em;
    text-align: right;
}

.messages > .message.-current > .content {
    color: #515151;
    background: #f1f1f1;
}

.messages > .message.-current:after {
    border-top-color: #f1f1f1;
    margin: 0 10px 0 0;
}

.messages > .message.-current > .content > .author {
    text-align: right;
}

.messages > .message.-current > .content > .time {
    text-align: left;
}

.messages > .message:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #515151;
    margin: 0 0 0 10px;
}

.post {
    border-top: 1px solid #515151;
    padding: 10px;
    height: 100px;
}

.post > textarea[name="post"] {
    resize: none;
    padding: 10px;
    color: #c6c8ca;
    height: 80px;
    width: calc(100% - 20px);
    border: none;
    background-color: #515151;
    font-size: 14px;
}

.post > textarea[name="post"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.5);
}

@media all and (max-width: 700px) {

    .message-container > .messages {
        padding: 20px 10px 0 10px;
    }

    .messages > .message > .content {
        max-width: 600px;
        min-width: 250px;
    }

    .users {
        display: none;
    }
}
