header {
    background-color: @off-black;
    color: @off-white;

    .post {
        .tweet {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            background-color: @off-white;
            border-radius: 5px;
            border: 1px solid @light-gray;
            min-height: 100px;
            font-size: 18px;
        }

    }

    .meta {
        h1 {
            a {
                color: @off-white;

                &:hover {
                    color: @gray;
                    text-decoration: none;
                }
            }
        }
    }


}