.profile {
  	margin: 20px 0;
  	color: @off-white;

  	.avatar {
	  vertical-align: 10px;
	}

  	.username {
	  margin-left: 10px;
	  display: inline-block;
	}
	
	.fields {
		margin-top: 10px;

	  .form-group {
		max-width: 100%;
	  }
	}
	
	.uploadProfilePic {
		margin-top: 5%;
	}
	
	.profilePicUploadInput {
		width: 100%;
	}
	
	.avatar {
		display: inline-block;
		img {
			width: 80px;
			height: 80px;
			border-radius: 50%;	
		}	
	}

}

