.profile {
	width: 50%;
	
	.fields {
		margin-top: 10px;	
	}
	
	.uploadProfilePic {
		margin-top: 5%;
	}
	
	.profilePicUploadInput {
		width: 100%;
	}
	
	.avatar {
		display: inline-block;
		img {
			width: 80px;
			height: 80px;
			border-radius: 50%;	
		}	
	}
	
	.username {
		display: inline-block;
	}
}

