<template name="viewPost">
    <div class="post row">
        <div class="bubble">
            <div class="content">
                <div class="text row">
                    {{text}}
                </div>
                <div class="tags row">
                    {{#each tags}}
                        <div class="tag">
                            <img src="{{low_resolution.url}}" alt="image" />
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="meta row">
            {{#with getUser userId}}
                <div class="avatar">
                    <img src="{{getAvatar profile.image}}" alt="image" />
                </div>
                <div class="username">
                    
                    <h1>{{profile.firstname}} {{profile.lastname}}</h1>
                    <h2>{{username}}</h2>
                    
                </div>
            {{/with}}
        </div>
    </div>
</template>