<template name="post">
    <div class="post row">
        <div class="bubble">
            <div class="content">
                <div class="text row">
                    {{text}}
                </div>
                <div class="tags row">
                    {{#each tags}}
                        <div class="tag">
                            <img src="{{low_resolution.url}}" alt="image" />
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="meta row">
            <div class="avatar">
                <img src="https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-15/11203196_1604754859805447_1660502734_n.jpg" alt="image" />
            </div>
            <div class="username">
                <h1>Ola Nordmann</h1>
                <h2>olaNord</h2>
            </div>
        </div>
    </div>
</template>