<template name="header">
	<header>
		<section class="container">

			<div id="new-post" class="post row">
				<div class="bubble">
					<div class="content">
						{{#if currentUser}}
							<div class="row">
								<textarea id="tweet" name="tweet" placeholder="What are you up to?"></textarea>
							</div>
							<div class="tags row">
								<h3>Why havent you tagged anything yet? :'(</h3>
							</div>
							<div class="row">
								<button class="pull-right btn btn-success" type="submit">Tweet</button>
							</div>
						{{else}}
							<div class="row">
								<h1>Welcome to Tweeteor!</h1> <h2>Please, {{>loginButtons}} to post...</h2>
							</div>
						{{/if}}
					</div>
				</div>
				<div class="meta row">
					{{#if currentUser}}
						{{#with currentUser}}
							{{#linkTo route="edit.profile"}}
								<div class="avatar">
									<img src="{{profile.image}}" alt="profile picture" />
								</div>
								<div class="username">
									<h1>{{getName profile}}</h1>
									<h2>{{username}}</h2>
								</div>
							{{/linkTo}}
						{{/with}}
					{{/if}}
				</div>
			</div>
		</section>
	</header>
</template>